/* Empty. Add your own CSS if you like */

h1{
  text-align: center;
}


.bar.bar-stable .title {
    background-color: #ffccff;
    color: black;
}

img {
  display: block;
  background-image: url('../img/ajax-loader.gif') ;
  background-size: 100% 100%;
  background-position: center center;
}

.background{
  background-color: black;
}